{% extends 'onboarding/onboarding.html.twig' %}

{% import 'macro/form.html.twig' as form_macros %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">{{ 'onboarding.user_info.header'|trans }}</h2>
        {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
            <div class="col-12">
                {{ form_macros.text_input(form.name) }}
            </div>
            <div class="col-12">
                {{ form_macros.text_input(form.email) }}
            </div>
            <div class="col-12">
                {{ form_macros.text_input(form.phone) }}
            </div>
            <div class="col-12">
                <div class="form-group">
                    {{ form_label(form.subscription_type, null, {'label_attr': {'class': 'form-label'}}) }}
                    <div>
                        {% for choice in form.subscription_type %}
                            <div class="form-check-inline">
                                {{ form_widget(choice, {'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(choice, null, {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                        {% endfor %}
                    </div>
                    {{ form_errors(form.subscription_type) }}
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">{{ 'onboarding.button.next'|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
